<div>
  <small class="text-muted">Generate your token here!
    <a href="https://developer.spotify.com/console/put-current-user-saved-tracks/?ids=">Spotify API</a>
  </small>
  <div class="input-group mt-2">
  <span class="input-group-text">
    <i class="bi bi-spotify spotify-color"></i>
  </span>
    <input [(ngModel)]="spotifyToken"
           (ngModelChange)="setToken($event)"
           type="text"
           class="form-control"
           placeholder="Spotify token"
           aria-label="Spotify token">
  </div>
</div>
